<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
  <div class="container-fluid bg-light p-4">
      <div class="container">
          <div class="row my-3">
              <div class="col-md-10"></div>
              <div class="col-md-2"><a style="text-decoration: none!important;color: red!important;" th:href="@{/cart/view-cart}"><h3><i class="fas fa-cart-plus me-2 d-inline"></i>
                  <span class="badge bg-success" th:text="${cartSize}"></span></h3> </a> </div>
          </div>
      <div class="row">
        <div class="col-md-4" th:each="book : ${books}">
          <div class="card mb-3" style="width: 18rem">
            <img th:src="${book.imgUrl}" class="card-img-top" alt="">
            <div class="card-body">
                <p class="lead card-title" th:text="${book.title}"></p>
                <p class="lead card-text" th:text="${'wiritten by '+book.author.authorName}"></p>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, rerum.</p>
            </div>
              <div class="card-footer">
                  <div class="d-flex justify-content-between">
                      <span th:text="${'$'+book.price}"></span>
                      <a th:href="@{'/cart/add-cart?id='+ ${book.id}+'&isbn='+${book.isbn} +'&page=bookList'}" class="btn-link">Cart</a>
                      <a th:href="@{'/book/book-details?id='+ ${book.id} + '&isbn='+ ${book.isbn}}" class="btn-link"><i>Details</i></a>
                      <span th:text="${book.publisher.publisherName}"></span>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</main>
</body>
</html>