<!DOCTYPE html>
<html th:replace="layout/masterLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<!--quantity to Spring Controller-->
<body>
<main role="main">
  <div class="container-fluid bg-light">
    <div class="container mt-4">
       <div class="row">
         <div class="col">
           <form th:object="${cartItem}" th:action="@{/cart/checkout}" method="post">
           <div class="card shadow p-5 my-4">
             <table  class="table table-striped" th:if="${!cartItems.isEmpty()}">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>ISBN</th>
                  <th>Title</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Action</th>
                </tr>
                </thead>
               <tbody>
               <tr th:each="item : ${cartItems}">
                 <td th:text="${item.id}"></td>
                 <td th:text="${item.isbn}"></td>
                 <td th:text="${item.title}"></td>
                 <td><input type="text" th:field="*{cartItemQuantity}" class="form-control"></td>
                 <td th:text="${'$'+item.price}"></td>
                 <td><a th:href="@{'/cart/delete?id='+${item.id} +'&isbn='+ ${item.isbn}}" class="btn btn-outline-danger">Delete</a></td>
               </tr>
               </tbody>
             </table>
             <div th:if="${cartItems.isEmpty()}" class="p-4 my-5">
               <h4 class="text-center text-muted">No Content</h4>
             </div>
             <div class="my-3">
               <input type="submit"  th:if="${!cartItems.isEmpty()}" class="btn btn-outline-primary me-2" value="Checkout"></input>
               <a th:href="@{/book/list-books}" class="btn btn-outline-secondary me-2">Continue Shopping</a>
               <a th:href="@{/cart/clear-cart}" th:if="${!cartItems.isEmpty()}" class="btn btn-outline-danger">Clear Cart</a>
             </div>
           </div>
           </form>
         </div>
       </div>
    </div>
  </div>
</main>
</body>
</html>